* {
  padding: 0;
  margin: 0;
  font-family: "Lobster", cursive;
  font-family: "Roboto", sans-serif;
}

.absolute {
  height: 50px;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  min-width: 350px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  box-sizing: border-box;
  height: 55px;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
header .burger-menu {
  display: none;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
header a {
  text-decoration: none;
  color: black;
}
header a:hover {
  color: rgb(99, 98, 98);
}

.phone-menu {
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-button {
  all: unset;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
}

.log-in {
  all: unset;
  border: 2px solid black;
  padding: 0.5rem 0.5rem;
}

.section-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 600px;
  max-width: 1560px;
  margin: 0 auto; /* Center the section horizontally within its parent container */
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1rem;
  min-width: 400px;
}
.section-wrapper .first-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  color: rgb(52, 20, 101);
}
.section-wrapper .first-container button {
  all: unset;
  color: white;
  background-color: rgb(80, 14, 112);
  width: 300px;
  text-align: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-radius: 5PX;
}
.section-wrapper .first-container button:hover {
  background-color: rgb(35, 7, 49);
}
.section-wrapper .first-container a {
  all: unset;
}
.section-wrapper .first-container .security-logo {
  display: flex;
  align-items: center;
}

.ratings {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 250px;
  padding-top: 4rem;
}
.ratings .google-ratings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.ratings .Truspilot-ratings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.h-text {
  text-align: center;
  color: rgb(52, 20, 101);
  padding-left: 2rem;
  padding-right: 2rem;
}

.p-text {
  text-align: center;
  color: rgb(52, 20, 101);
}

.table-wrapper {
  padding: 2rem 2rem;
  max-width: 1040px;
  margin: 0 auto;
  color: rgb(52, 20, 101);
}
.table-wrapper button {
  all: unset;
  color: white;
  background-color: rgb(80, 14, 112);
  width: 150px;
  text-align: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-radius: 5PX;
}
.table-wrapper button:hover {
  background-color: rgb(35, 7, 49);
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid rgb(52, 20, 101);
  grid-template-rows: auto;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.table .table-element {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.table .second-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-right: 1px solid;
}
.table .element {
  display: flex;
  align-items: center;
}
.table .first-table-element {
  display: flex;
  justify-content: space-between;
}
.table .first-table-element-border {
  border-right: 1px solid black;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button-like-thing {
  background-color: purple;
  padding: 0.2rem 0.2rem;
  border-radius: 20px;
}

.options-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options {
  all: unset;
  color: rgb(52, 20, 101);
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
}
.options:hover {
  color: rgb(24, 24, 56);
}

.some-text {
  text-align: center;
  padding: 2rem 2rem;
  color: rgb(52, 20, 101);
}

.nav-bar-footer {
  border-bottom: 1px solid rgb(43, 42, 42);
  padding-bottom: 1.1rem;
  width: 500px;
  margin: 0 auto;
}
.nav-bar-footer a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
  padding-bottom: 1rem;
}
.nav-bar-footer a:hover {
  color: rgb(183, 0, 255);
}
.nav-bar-footer a:hover {
  border-bottom: 3px solid rgb(183, 0, 255);
}
.nav-bar-footer nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav-bar-footer .active {
  border-bottom: 3px solid rgb(183, 0, 255);
}

.picture-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 2rem;
}

.selector {
  display: none;
}

.baked-wrapper {
  display: none;
}

@media screen and (max-width: 720px) {
  header .nav-bar {
    display: none;
  }
  header .language-button {
    display: none;
  }
  header .logo {
    display: none;
  }
  header .phone-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .section-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
  }
  .section-wrapper .first-container {
    align-items: center;
  }
  .section-wrapper .web-hosting {
    width: 100%;
  }
  .ratings {
    flex-direction: column;
    gap: 30px;
  }
  .h-text {
    font-size: 18px;
    padding-top: 2rem;
    padding-left: 1rem;
  }
  .table {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
  }
  .table .second-table {
    width: 100%;
    border-bottom: 2px solid;
    padding-bottom: 1rem;
    border-right: none;
  }
  .table .second-table .second-element {
    border-right: none;
  }
  .table .table-element {
    width: 100%;
    border-right: none;
  }
  .table .third-table {
    display: none;
  }
  .table .first-table-element-border {
    border-right: none;
  }
  .selector {
    display: flex;
    justify-content: center;
    padding: 2rem 2rem;
  }
  .selector select {
    font-size: 1.2rem;
    padding: 1rem 1rem;
    background-color: white;
    width: 100%;
    border-radius: 5px;
  }
  .selector select:hover {
    border-color: rgb(183, 0, 255);
  }
  .nav-bar-footer {
    display: none;
  }
  .picture-container {
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  .picture-container span {
    display: none;
  }
  .baked-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100%;
    color: white;
    margin: 0rem auto;
    gap: 1rem;
    background-color: #2F1C6A;
    padding: 2rem 2rem;
  }
  .baked-wrapper .omlete-picture img {
    width: 100%;
  }
  .baked-wrapper .uno {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .baked-wrapper .uno .tres {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */