@mixin h1text{
    text-align: center;
    color: $ptextcolor;
}

@mixin atag ($hovercolor){
    text-decoration: none;
    color: $headertextcolor;
    &:hover{
        color:$hovercolor ;
    }
    
        

}


@mixin navul{
    list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}



*{
    padding: 0;
    margin: 0;
    font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif;
}
$maintextcolor:rgb(24, 24, 56);
$headertextcolor: black;
$ptextcolor: rgb(52, 20, 101);

.absolute{
    height: 50px;
    

    
    
    
    
 }

body{
    overflow-x: hidden;
    box-sizing: border-box;
    
    
}

header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: $headertextcolor;
   box-sizing: border-box;
   height: 55px;
   padding-left: 1rem;
   padding-right: 1rem;
   position: fixed;
   width: 100%;
   z-index: 1;
   background-color: white;
   padding-top: 1rem;
   padding-bottom: 1rem;
   border-bottom: 2px solid rgba(0, 0, 0, 0.1);
   

   .burger-menu{
    display: none;
   }
   

   nav ul {
@include navul()
   

}

   .nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
   }

   a{
    @include atag(red);
    }
    
   }
.phone-menu{
    display: none;
}

   .logo{
    display: flex;
    justify-content: center;
    align-items: center;

   }
   .language-button{
    all: unset;
    display: flex;
    align-items: center;
    
    gap: 5px;
    border: none;

    
    
   }
    



.log-in{
    all:unset;
    border: 2px solid black;
    padding: 0.5rem 0.5rem;
}

.section-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
    max-width: 1560px;
    margin: 0 auto; /* Center the section horizontally within its parent container */
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1rem;
    min-width: 400px;

.first-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   max-width: 600px;
   color: $ptextcolor;

   button{
    all:unset;
    color: white;
    background-color: rgb(80, 14, 112);
    width: 300px;
    text-align: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 5PX;
    &:hover{
        background-color:rgb(35, 7, 49) ;
    }
    
   }

   a{
    all: unset;
   }
    
   .security-logo{
    display: flex;
    align-items: center;
   }
    
}
}

.ratings{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    height: 250px;
    padding-top: 4rem;

.google-ratings{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 10px;

}
.Truspilot-ratings{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

}

.h-text{
    text-align: center;
    color: $ptextcolor;
    padding-left: 2rem;
    padding-right: 2rem;

}

.p-text{
   text-align: center;
   color: $ptextcolor;

}

.table-wrapper{
    padding: 2rem 2rem;
    max-width: 1040px;
    margin: 0 auto;
    color:$ptextcolor;
    button{all:unset;
        color: white;
        background-color: rgb(80, 14, 112);
        width: 150px;
        text-align: center;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        border-radius: 5PX;
        &:hover{
            background-color:rgb(35, 7, 49) ;
        }}
    
}
.table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid $ptextcolor;
    grid-template-rows: auto;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .table-element{
        display: flex;
        flex-direction: column;
        gap: 10px;
        
    }

    .second-element{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-right: 1px solid;
    }


.element{
    display: flex;
    align-items: center;
    
    
    
    
}
       
  .first-table-element{
    display: flex;
    justify-content: space-between;
    
  }  

  .first-table-element-border{
    border-right: 1px solid black;
    padding-right:1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
   
    
  }  
 
}
.button-like-thing{
    background-color: purple;
    padding: 0.2rem 0.2rem;
    border-radius: 20px;
    
}

.options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .options {
    all: unset;
    color: $ptextcolor;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
   &:hover{
    color: $maintextcolor;
   }
  }

  .some-text{
    text-align: center;
    padding: 2rem 2rem;
    color: $ptextcolor;
  }

  .nav-bar-footer{
    border-bottom: 1px solid rgb(43, 42, 42);
    padding-bottom: 1.1rem;
    width: 500px;
    margin: 0 auto;
    a{
        @include atag(rgb(183, 0, 255));
        transition: 0.4s;
       
        padding-bottom: 1rem;
        &:hover{
            border-bottom: 3px solid rgb(183, 0, 255);
        }
        

        }   


    nav ul{
        @include navul();
        
        
 
    }
    .active{
        border-bottom: 3px solid rgb(183, 0, 255); 
    }
    
  }

  .picture-container{
    display: flex;
    // align-items: ce;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 2rem;
  }

  .selector{
    display: none;
  }

  .baked-wrapper{
display: none;
  }
  

@media screen and (max-width:720px) {
   header{
    .nav-bar{
        display: none;
    }
    .language-button{
        display: none;
    }

    .logo{
      display: none;
    }

    .phone-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
   
   }

   .section-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    

    .first-container{
        align-items: center;

    }
    .web-hosting{
        width: 100%;
    }
    }
    .ratings{
        flex-direction: column;
        gap: 30px;
    }
    .h-text{
        font-size: 18px;
        padding-top: 2rem;
        padding-left: 1rem;

    }
    .table{
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        max-width: 400px;
        margin: 0 auto;
        
        .second-table{
            width: 100%;
            border-bottom: 2px solid;
            padding-bottom: 1rem;
            border-right: none;

            .second-element{
                border-right: none;
            }
            
        }

        .table-element{
            width: 100%;
            border-right: none;
            
        }

        .third-table{
            display: none;
        }
        .first-table-element-border{
            border-right: none;
        }


    }
    .selector{
        display: flex;
        justify-content: center;
        padding: 2rem 2rem;
        

        
    select {
        font-size: 1.2rem;
        padding: 1rem 1rem;
        background-color: white;
        width: 100%;
        border-radius: 5px;
        &:hover{
            border-color: rgb(183, 0, 255);
        }

    }
    
    
}
.nav-bar-footer{
    display:none;
}
.picture-container{
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    span{
        display: none;
    }
  }

  .baked-wrapper{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    color: white;
    
    margin: 0 auto;
    gap: 1rem;
    max-width: 400px;
    background-color: purple;
    padding: 2rem 2rem;

    .omlete-picture{
        width: 100%;
    }
  }
 
}

